* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

section {
    background-color: rgba(0, 0, 0, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 10px;
    height: 50vh;
    width: 30vw;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
}

form > input {
    margin: 10px 20px ;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    outline: none;
    background-color: rgb(175, 175, 175);
}

form > button {
    margin: 10px 20px;
    border: 0;
    background-color: rgba(77, 77, 197, 0.63);
    padding: 5px;
    border-radius: 5px;
}
form > button:hover {
    background-color: rgba(48, 48, 238, 0.63);
    cursor: pointer;
    font-weight: bold;
}

form > a {
    text-decoration: underline;
    color: rgba(48, 48, 238, 0.993);
    font-size: 15px;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}
form > label > a {
    text-decoration: none;
    color: gray;
}
form > label {
    margin-top: 15px;
}